.value {
  padding: 90px 32px;
  background-color: var(--color-surface);
}

.value__container {
  max-width: var(--container-width);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .value {
    padding: 72px 20px;
  }
}
